<!DOCTYPE html>
<html lang="en">
<!-- This is the IXP view page -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AS View Map</title>

    <!-- External CSS -->
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/editIXP.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- External JS -->
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js"></script>
    <script
        src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.min.js"></script>

</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="{{ url_for('index') }}"><img
                src="{{ url_for('static', filename='Images/africa.png') }}" alt="Logo" width="30" height="30"> AIXV</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item"><a class="nav-link" href="{{ url_for('asView') }}">ASview</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('edit') }}">Editstudio</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('document') }}">Documentation</a></li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <h3 style="color: white;">Experiment NationalView</h3>
            </ul>
        </div>
    </nav>

    <!-- Map Display -->
    <div id="map"></div>
    <div id="country-info" class="card" style="display: none;width: 160px; position: absolute; opacity: 0.9;">
        <button type="button" class="close" id="close-card" aria-label="Close" style="margin: 10px;">
            <span aria-hidden="true">&times;</span>
        </button>

        <div class="card-body">
            <!-- Country Card -->
            <h6 class="card-title bold-open-sans" id="country-name">Jinx</h6>
            <button class="btn btn-primary custom-button" id="view-network">Edit Network</button>
        </div>
    </div>

    <!--Edit Network-->
    <div class="modal fade" id="newNetworkModal" tabindex="-1" role="dialog" aria-labelledby="newModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" style="max-width: 95vw !important;max-height:95vh !important;">
            BENIN <div class="modal-content" style="height: 90vh;">

                <!-- Close button added here -->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-body">
                    <h1 class="editStudioHeadertag"><i class="fas fa-project-diagram"></i> Edit Network</h1>
                    <div class="maineditcard">
                        <div class="lefteditcard">
                            <div><svg class="network networkborder" width="100%" height="400px"></svg></div>
                            <div class="buttoncontainer">
                                <div><button id="deleteNodeBtn" class="delete"><i class="fas fa-trash"></i>
                                        Delete</button></div>
                                <div><button id="update"><i class="fas fa-edit"></i> Update</button></div>
                                <div><button id="addnode"><i class="fas fa-plus-circle"></i> Add node</button></div>
                                <div><button id="addlink"><i class="fas fa-link"></i> Add Link</button></div>
                                <div><button id="removelink"><i class="fas fa-unlink"></i> Remove Link</button></div>
                            </div>
                        </div>
                        <div class="righeditcard">
                            <h1 class="titlecoin titlefilter">AS Degree</h1>
                            <div class="cardz">
                                <div class="price-content">
                                    <div>
                                        <label>Min</label>
                                        <p id="min-value">0</p>
                                    </div>

                                    <div>
                                        <label>Max</label>
                                        <p id="max-value">1000</p>
                                    </div>
                                </div>

                                <div class="range-slider">
                                    <input type="range" class="min-price" value="0" min="0" max="1000" step="10">
                                    <input type="range" class="max-price" value="1000" min="00" max="1000" step="10">
                                </div>
                            </div>
                            <!-- Download Button -->
                            <button id="downloadBtn" class="download-button">Download JSON</button>
                            <p id="timedParagraph" class="timed-paragraph" style="color: #3cff00;"></p>

                        </div>
                    </div>
                    <!--  -->
                    <div class="usefulinfocard">

                        <div class="usefulinfocardleft">
                            <div class="nodedetailsheader">Node Details</div>
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td>
                                            <label for="name">Name:</label>
                                            <span id="name"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="asn">ASN:</label>
                                            <span id="asn"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="rank">Rank:</label>
                                            <span id="rank"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="customers">Customers:</label>
                                            <span id="customers"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="providers">Providers:</label>
                                            <span id="providers"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="peers">Peers:</label>
                                            <span id="peers"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="siblings">Siblings:</label>
                                            <span id="siblings"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="total">Total:</label>
                                            <span id="total"></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="usefulinfocardright">
                            <div class="tableheaders">
                                <div class="pathheader">Path Details</div>
                                <div class="sourceheader">
                                    <p>Source: <span id="pathSource">______</span></p>
                                </div>
                                <div class="destinationheader">
                                    <p>Destination: <span id="pathDestination">______</span></p>
                                </div>
                                <div class="connectiontype">
                                    <p id="message" style="font-weight: bold; color: black;"></p>
                                </div>
                            </div>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Source</th>
                                        <th>Destination</th>
                                        <th>Relationship Type</th>
                                    </tr>
                                </thead>
                                <tbody id="pathDetails">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Update Network-->
        <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered"
                style="max-width: 97vw !important; max-height: 98vh !important; ">
                <div class="modal-content" style="height: auto; max-height: 95vh; min-height:92vh;position: relative;">
                    <button type="button" class="btn btn-clear custom-close" id="close-updateModal" aria-label="Close">
                        <i class="fas fa-times"></i>
                    </button>


                    <div class="modal-body">
                        <h2 class="savedetailsheader"><i class="fas fa-edit"></i> Update Node</h2>
                        <div class="addnodecard">
                            <div class="addnodeleft">
                                <form id="updateForm">
                                    <!-- Name -->
                                    <div class="form-group">
                                        <label for="Name">Name:</label>
                                        <input type="text" class="form-control" id="Name" placeholder="PCHAS3856">
                                    </div>

                                    <!-- Website -->
                                    <div class="form-group">
                                        <label for="Website">Website:</label>
                                        <input type="url" class="form-control" id="Website"
                                            placeholder="https://pch.net">
                                    </div>

                                    <!-- City -->
                                    <div class="form-group">
                                        <label for="City">City:</label>
                                        <input type="text" class="form-control" id="City" placeholder="Johannesburg">
                                    </div>

                                    <!-- Status -->
                                    <div class="form-group">
                                        <label for="Status">Status:</label>
                                        <select class="form-control" id="Status">
                                            <option>Ok</option>
                                            <option>Off</option>
                                        </select>
                                    </div>

                                    <!-- Save Button -->
                                    <button id="saveNodeBtn" class="Savedetails">Save</button>
                                </form>
                            </div>
                            <div class="addnoderight" style="overflow: hidden;"> <!-- added overflow:hidden -->
                                <!-- set max-width and max-height for SVG -->
                                <svg class="network networkborder" style="max-width: 100%; max-height: 100%;"
                                    width="100%" height="100%"></svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Create Node-->
        <div class="modal fade" id="addNodeModal" tabindex="-1" role="dialog" aria-labelledby="addNodeModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered"
                style="max-width: 97vw !important; max-height: 98vh !important; ">
                <div class="modal-content" style="height: auto; max-height: 95vh; min-height:92vh;position: relative;">
                    <button type="button" class="btn btn-clear custom-close" id="close-addNodeModal" aria-label="Close">
                        <i class="fas fa-times"></i>
                    </button>
                    <div class="modal-body">
                        <h2 class="createnodeheader"><i class="fas fa-plus-circle"></i> Create AS Node</h2>
                        <div class="addnodecard">
                            <div class="addnodeleft">
                                <div class="form-group">
                                    <label for="nodename">ASN: <span style="color: red;">*</span></label>
                                    <input type="number" id="asnX" class="form-control" placeholder="454" pattern="\d+"
                                        required>
                                </div>
                                <div class="form-group">
                                    <label for="nodename">name:<span style="color: red;">*</span></label>
                                    <input type="text" id="nameX" class="form-control" placeholder="PCH">
                                </div>
                                <div class="form-group">
                                    <label for="nodewebsite">ConeSize(Total Degree):<span
                                            style="color: red;">*</span></label>
                                    <input type="number" id="coneSize" class="form-control" placeholder="0"
                                        pattern="\d+" required>
                                </div>
                                <div class="form-group">
                                    <label for="nodecity">Country:</label>
                                    <input type="text" id="countryX" class="form-control" placeholder="ZA">
                                </div>
                                <button id="createNodeBtn" class="createnode">Create Node</button>
                                <p>Feilds with <span style="color: red;">*</span> are Required to create an AS node</p>
                            </div>
                            <div class="addnoderight" style="overflow: hidden;"> <!-- added overflow:hidden -->
                                <!-- set max-width and max-height for SVG -->
                                <svg class="network networkborder" style="max-width: 100%; max-height: 100%;"
                                    width="100%" height="100%"></svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Create a Link-->
        <div class="modal fade" id="addLinkModal" tabindex="-1" role="dialog" aria-labelledby="addLinkModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered"
                style="max-width: 97vw !important; max-height: 98vh !important;">
                <div class="modal-content"
                    style="height: auto; max-height: 95vh; min-height: 92vh; position: relative;">
                    <button type="button" class="btn btn-clear custom-close" id="close-addLinkModal" aria-label="Close">
                        <i class="fas fa-times"></i>
                    </button>


                    <div class="modal-body">
                        <div class="addlinkcard">
                            <div class="addlinkcardleft">
                                <h1 class="addlinkheader createlinkheader"><i class="fas fa-link"></i> Add Link</h1>
                                <form>
                                    <div class="input-group">
                                        <label for="linktype">Link Type:</label>
                                        <select class="form-control linkselection" id="linktype">
                                            <option>P2P</option>
                                            <option>P2C</option>
                                            <option>S2S</option>
                                        </select>
                                    </div>

                                    <div class="input-group">
                                        <label for="source">Source</label>
                                        <input type="text" id="source" name="source" disabled>
                                        <button type="button" class="AddSource">Add Source</button>
                                    </div>

                                    <!-- Destination Group -->
                                    <div class="input-group">
                                        <label for="destination">Destination</label>
                                        <input type="text" id="destination" name="destination" disabled>
                                        <button type="button" class="AddDestination">Add Destination</button>
                                    </div>

                                    <div class="input-group">
                                        <button class="createlink">Create Link</button>
                                    </div>
                                </form>
                            </div>
                            <div class="addlinkcardright" style="overflow: hidden;"> <!-- added overflow:hidden -->
                                <!-- set max-width and max-height for SVG -->
                                <svg class="network networkborder" style="max-width: 100%; max-height: 100%;"
                                    width="100%" height="100%"></svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Remove Links Modal -->
        <div class="modal fade" id="removeLinkModal" tabindex="-1" role="dialog" aria-labelledby="removeLinkModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered"
                style="max-width: 97vw !important; max-height: 98vh !important;">
                <div class="modal-content"
                    style="height: auto; max-height: 95vh; min-height: 92vh; position: relative;">
                    <button type="button" class="btn btn-clear custom-close" id="close-removeLinkModal"
                        aria-label="Close">
                        <i class="fas fa-times"></i>
                    </button>

                    <div class="modal-body">
                        <div class="addlinkcard">
                            <div class="addlinkcardleft">
                                <h1 class="addlinkheader createlinkheader"><i class="fas fa-unlink"></i> Remove Link
                                </h1>
                                <div class="input-group">
                                    <label for="removeSource">Source</label>
                                    <input type="text" id="removeSource" name="removeSource" disabled>
                                    <button type="button" class="AddRemoveSource">Add Source</button>
                                </div>

                                <div class="input-group">
                                    <label for="removeDestination">Destination</label>
                                    <input type="text" id="removeDestination" name="removeDestination" disabled>
                                    <button type="button" class="AddRemoveDestination">Add Destination</button>
                                </div>

                                <div class="input-group">
                                    <button class="removeLinkBtn">Remove Link</button>
                                </div>
                            </div>
                            <div class="addlinkcardright" style="overflow: hidden;"> <!-- added overflow:hidden -->
                                <!-- set max-width and max-height for SVG -->
                                <svg class="network networkborder" style="max-width: 100%; max-height: 100%;"
                                    width="100%" height="100%"></svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script defer type="module" src="{{ url_for('static', filename='js/SimulateASmap.js') }}"></script>
        <script defer type="module" defer src="{{ url_for('static', filename='js/SimulateASmain.js') }}"></script>
        <script defer type="module" src="{{ url_for('static', filename='js/SimulateAScomponents.js') }}"></script>
        <script src="https://d3js.org/d3.v5.min.js"></script>
</body>

</html>